{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "mocha/no-exclusive-tests": 2
    },
    "env": {
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    },
    "plugins": [
      "mocha"
    ]
}
